* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1120px;
  margin: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.btn {
  padding: 8px 13px;
  background-color: #fff;
  border: 1px solid #C0EBC8;
  color: #73CD91;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.divisor {
  border: 2px solid #F8F8F8;
}

.btn:hover {
  background-color: #ADF0C3;
  color: #000;
  transition: 5ms all;
  border: 3px solid #377960;
}

.logo {
  font-weight: 900;
  color: #000;
}

.logo-green {
  color: #73CD91;
  margin-left: 2px;
}

.section {

  display: flex;
  column-gap: 100px;
  align-items: center;
}

.money-1 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

.money-1 h2 {
  font-size: 35px;
  font-weight: 700;
  color: #73CD91;
}

.money-1 p {
  font-weight: 500;
  font-size: 17px;
}

.btn-2 {
  padding: 8px 20px;
  font-size: 16px;
  background-color: #377960;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 20px;
}

.btn-2:hover {
  background-color: #0e472c;
  transition: 1s all;
  cursor: pointer;
}

.section-2 {
  display: flex;
  align-items: center; 
  column-gap: 20px;
}

.money-4 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.money-4 h2 {
  font-size: 33px;
  color: #73CD91;
}

.money-4 p {
  font-weight: 500;
  font-size: 17px;
}

.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.service {
  color: #73CD91;
  text-align: center;
  font-size: 35px;
}

.services hr {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #F8F8F8;
  width: 220px;
  margin-top: 10px;
}

.cards {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #E7E7E7;
  padding: 30px 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
  transition: 0.8s all;
}

.card h3 {
  font-weight: 500;
  color: #265E48;
}

.card p {
  font-weight: 500;
}

.card img {
  width: 200px;
}

.section-4 {
  margin-top: 30px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.money-5 img{
  width: 560px;
}

.money-6 h2 {
  font-size: 33px;
  color: #73CD91;
  
}

.money-6 p {
  font-weight: 500;
  font-size: 17px;
  margin-top: 20px;
}


.money-6 .btn {
  margin-top: 20px;
}

.section-5{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  column-gap: 100px;
  margin-bottom: 50px;
}


.border-green, h1, p, .b-green {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.border-green, h1 {
  color: #73CD91;
  font-size: 33px;
}

.border-green, p {
  font-weight: 500;
  font-size: 17px;
}

.b-green {
  color: #97C9B1;
  font-weight: 500;
  border: 1px solid #CAF5D8;
  max-width: 500px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.b-green img {
  width: 20px;
  display: flex;
  margin-right: 5px;
}

.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contact, label, input {
  display: flex; 
  margin-top: 15px;
 }
 
 .form-contact input {
   padding: 5px 10px;
   font-size: 17px;
   border: 1px solid  #CED4DA;
   width: 100%;
 }
 
 .form-contact input:hover {
   outline-color: #0DCAF0;
 }

.btn-blue {
  margin-top: 10px;
  padding: 8px 40px;
  width: 530px;
  font-size: 16px;
  border: 1px solid #0DCAF0;
  background-color: #fff;
  color: #0DCAF0;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: #0DCAF0;
  color: #000;
  transition: 0.5s all;
}

.form-contact textarea {
  resize: none;
  height: 80px;
  width: 100%;
  margin-top: 10px;
}

.form-contact textarea:hover {
  outline-color: #0DCAF0;
}

footer {
  background-color: #377960;
  color: #fff;
}

.menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 300px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 100px;
}

.lg-footer {
  color: #fff;
}

.ft-1, .ft-2, .ft-imgs {
  margin-top: -10px;
}

.img-ft {
  display: flex;
  flex-wrap: wrap;
}

.img-ft img {
  width: 40px;
  margin-top: 10px;
}

.click:hover {
  text-decoration: underline;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.reserved {
  font-weight: normal;
}



@media (max-width: 420px) {
  .section{
    display: flex;
    padding: 20px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }

  .money-1 {
    margin-top: 50px;
  }

  .money-2 img {
    width: 300px;
    margin-top: -20px;
  }

  .section-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }


  .money-3 img {
    width: 300px;
  }

  .section-3 {
    margin-top: -5px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    padding: 10px;
  }

  .card {
    padding: 5px 60px;
  }

  .section-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }

  .money-4 {
    margin-top: 20px;
  }
 

  .money-5 img {
    width: 320px;
    margin-top: 40px;
  }

  .money-6 {
    margin-top: 30px;
    padding: 20px;
  }

  .section-5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-top: -5px;
  }

  .form-contact input {
    width: 300px;
  }

  .form-contact textarea {
    resize: none;
  }


  .btn-blue {
    width: 100%;
    padding: 8px 35px
  }

  .menu-footer {
    display: flex;
    flex-direction: column;
  }

  .ft-2 {
    margin-top: 30px;
  }

  .ft-imgs {
    margin-top: 50px;
  }
  
  .reserved {
    text-align: center;
    font-size: 12px;
  }

  }